.jumbotron {
    background:black;
    opacity: 75%;
    color: rgb(56, 216, 128);
    font-family: 'Righteous', cursive;
}
/* body {
    height: 200px;
    background: linear-gradient(90deg, rgba(53,130,75,1) 0%, rgba(62,230,97,1) 47%, rgba(45,254,204,1) 100%);

} */

img{
    box-shadow: 0 0px 30px 10px rgb(58, 163, 140);
    border: 2px solid transparent;
    border-radius: 15px;
}

