.jumbotron {
    background:black;
    opacity: 80%;
    color: rgb(56, 216, 128);
    font-family: 'Righteous', cursive;
}
/* body {
    height: 200px;
    background: linear-gradient(90deg, rgba(53,130,75,1) 0%, rgba(62,230,97,1) 47%, rgba(45,254,204,1) 100%);

} */

img{
    box-shadow: 0 0px 30px 10px rgb(18, 19, 19);
    border: 2px solid transparent;
    border-radius: 15px;
    width: 304px;
    height: 304px;
    padding: 5px;
    margin-bottom: 20px;

    
}

img:hover{
    opacity: 75%;
    margin-top: 10px;
}

.card{
    background-color: black;
    opacity: 80%;
    color:rgb(56, 216, 128);
    border-radius: 12px;
    margin-right: 200px;
}

  

