.container {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
body {
    height: 200px;
    background: linear-gradient(90deg, rgba(53,130,75,1) 0%, rgba(62,230,97,1) 47%, rgba(45,254,204,1) 100%);
}
.jumbotron-fluid{
    background:black;
    opacity: 80%;
    color: rgb(56, 216, 128);
    font-family: 'Righteous', cursive;
}
.navbar {
    background-color: black;
    
}
header {
    color:rgb(56, 216, 128);
    font-size: 42px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
}
p {
    color: rgb(56, 216, 128);
    font-size: 17.5px;
    font-weight: bolder;
    /* display: inline; */

}
img{
    padding: 50px;
    border-radius: 70px;
}

.card{
    background-color: black;
    opacity: 80%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px
}



@media (max-width: 800px) {
    img {
        position: relative;
        width: 100%;
    }
    header {
        position: relative;
        width: 100%;
    
    }
    .jumbotron {
        position: relative;
        width: 100%;
    }
    
}